<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>respin.ga</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
{% block style %}
<style media="screen">
body {
  background-color: #DEDEDE;
}
select {
  display: inline !important;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  height: auto;
}

.card-panel {
  margin-top: 15px;
}

.loading {
  display: none;
}

.footer {
  text-align: center;
  color: gray;
}
</style>
{% endblock%}
<body>
  {% block header %}
  <nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo center">respin.ga</a>
    </div>
  </nav>
  {% endblock %}

  {% block body %}

  {% endblock %}

</body>

{% block scripts %}

{% endblock %}
</html>
