{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col s12 l10 offset-l1">
    <div class="card-panel white">
      <form>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Texto</label>
          </div>
        </div>
        <a class="waves-effect waves-light teal lighten-2 btn" id="send-text">Enviar</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
$("#send-text").click(function(){
  $.post("/sendtext",{
    text: $("#textarea1").val()
  },function(data, status){
    if (typeof data.redirect == 'string'){
      window.location = data.redirect;
    }
  });
});
</script>
{% endblock %}
